<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
                        http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
						http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context-2.5.xsd
                        http://www.springframework.org/schema/aop 
                        http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
                        http://www.springframework.org/schema/tx 
                        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <!-- openemm applicationContext.xml part -->
    <bean id="ColumnInfoService" class="org.agnitas.service.impl.ColumnInfoServiceImpl">
        <property name="profileFieldDao" ref="ProfileFieldDao" />
    </bean>
    
    <!-- openemm ws part -->
    <context:annotation-config />
    
    <aop:aspectj-autoproxy/>
    
    <tx:annotation-driven />
    
    <bean id="modelValidator" class="org.agnitas.emm.core.validator.ModelValidator">
        <constructor-arg type="java.lang.String" value="validator-rules.xml" />
        <constructor-arg type="java.lang.String" value="validator-messages" />
    </bean>
    
    <bean id="bindingService" class="org.agnitas.emm.core.binding.service.impl.BindingServiceImpl" />
    
    <bean id="bindingBulkService" class="org.agnitas.emm.core.binding.service.impl.BindingBulkServiceImpl" />
    
    <bean id="blacklistService" class="org.agnitas.emm.core.blacklist.service.impl.BlacklistServiceImpl">
        <property name="blacklistDao" ref="BlacklistDao" />
        <property name="bindingService" ref="bindingService" />
    </bean>
    
    <bean id="componentService" class="org.agnitas.emm.core.component.service.impl.ComponentServiceImpl" />

    <bean id="dynamicTagContentService" class="org.agnitas.emm.core.dyncontent.service.impl.DynamicTagContentServiceImpl" >
        <property name="userActivityLogService" ref="UserActivityLogService" />
    </bean>
    
    <bean id="dynamicTagNameService" class="org.agnitas.emm.core.dynname.service.impl.DynamicTagNameServiceImpl" />

    <bean id="mailinglistService" class="org.agnitas.emm.core.mailinglist.service.impl.MailinglistServiceImpl" />
    
    <bean id="mailingService" class="org.agnitas.emm.core.mailing.service.impl.MailingServiceImpl">
        <property name="userActivityLogService" ref="UserActivityLogService" />
    	<lookup-method name="getSelfReference" bean="mailingService"/>
    </bean>

    <bean id="recipientService" class="org.agnitas.emm.core.recipient.service.impl.RecipientServiceImpl" >
        <property name="userActivityLogService" ref="UserActivityLogService" />
    </bean>

    <bean id="recipientBulkService" class="org.agnitas.emm.core.recipient.service.impl.RecipientBulkServiceImpl" >
        <property name="userActivityLogService" ref="UserActivityLogService" />
    </bean>

    <bean id="MailingFactory" class="org.agnitas.beans.factory.impl.MailingFactoryImpl" />
    
    <bean id="Mailgun" class="org.agnitas.backend.MailgunImpl" scope="singleton" />

	<bean id="mailgunCache" class="org.agnitas.util.TimeoutLRUMap">
		<constructor-arg index="0">
			<value>${mailgun.maxCache}</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>${mailgun.maxCacheTimeMillis}</value>
		</constructor-arg>
	</bean>
	
	<bean id="ExtensibleUIDStringBuilder" class="org.agnitas.emm.core.commons.uid.builder.impl.UID1StringBuilderImpl">
		<property name="companyDaoCache" ref="CompanyDaoCache" />
	</bean>

	<bean id="ExtensibleUIDParser" class="org.agnitas.emm.core.commons.uid.parser.impl.UID1ExtensibleUIDParserImpl">
		<property name="stringBuilder" ref="ExtensibleUIDStringBuilder" />
		<property name="companyDaoCache" ref="CompanyDaoCache" />
	</bean>

	<bean id="ExtensibleUIDService" class="org.agnitas.emm.core.commons.uid.impl.ExtensibleUIDServiceImpl">
		<property name="parser" ref="ExtensibleUIDParser" />
		<property name="stringBuilder" ref="ExtensibleUIDStringBuilder" />
	</bean>
	
	<bean id="ConfigService" class="org.agnitas.emm.core.commons.util.ConfigService">
		<property name="configTableDao" ref="ConfigTableDao" />
	</bean>

</beans>
