<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
               
    <!-- Configurer that replaces ${...} placeholders with values from properties files -->
    <!-- (in this case, mail and JDBC related properties) -->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:emm.properties</value>
            </list>
        </property>
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
    </bean>


	<bean id="BindingEntryFactory" class="org.agnitas.beans.factory.impl.BindingEntryFactoryImpl">
		<property name="bindingEntryDao" ref="BindingEntryDao" />
	</bean>

	<bean id="RecipientFactory" class="org.agnitas.beans.factory.impl.RecipientFactoryImpl">
		<property name="recipientDao" ref="RecipientDao" />
		<property name="columnInfoService" ref="ColumnInfoService" />
	</bean>

    <bean id="UserActivityLogService" class="org.agnitas.emm.core.useractivitylog.service.DbUserActivityLogServiceImpl" scope="prototype">
        <property name="userActivityLogDao" ref="UserActivityLogDao" />
    </bean>
	
	<bean id="TagSyntaxChecker" class="org.agnitas.preview.TagSyntaxChecker">
		<property name="tagDao" ref="TagDao" />
	</bean>
</beans>
